.mobile-nav-frame {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	
	background: #222222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	z-index: 999999;
}

.mobile-nav-frame .title {
	background: #161616;
	border-bottom: 1px solid #1c1c1c;
	margin-bottom: 25px;
	padding: 14px 12px;
}

.mobile-nav-frame .title h3 {
	height: 1.25em;
	
	color: white;
	font: 200 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0px 50px;
	overflow: hidden;
	text-align: center;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
}

.mobile-nav-frame .title .close,
.mobile-nav-frame .title .back {
	position: absolute;
	top: 11px;
	
	color: white;
	font-size: 19px;
	font-weight: 200;
	margin-top: -1px;
	padding: 7px;
	text-decoration: none;
}

.mobile-nav-frame .title .close {
	right: 12px;
	
}

.mobile-nav-frame .title .back {
	left: 12px;
	
}

.mobile-nav-frame form.search {
	position: relative;
	
	background: transparent;
	margin: 20px 12px;
}

.mobile-nav-frame form.search input[type=search] {
	width: 100%;
	
	background: #E0E0E0;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-size: 18px;
}

.mobile-nav-frame form.search input[type=submit] {
	display: none;
}

.mobile-nav-frame .slides {
	display: block;
}

.mobile-nav-frame ul {
	background: #212121;
	border: 1px solid #111;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
	-moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
	margin: 0px 12px;
	padding: 4px 10px;
}

.mobile-nav-frame ul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	display: block;
	padding: 15px 5px;
}

.mobile-nav-frame ul li a.link {
	color: #F3F3F3;
	display: block;
	font-size: 17px;
	font-weight: 300;
	margin-right: 30px;
	text-decoration: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.mobile-nav-frame ul li:first-child {
	border-top: none;
}

.mobile-nav-frame ul li:last-child {
	border-bottom: none;
}

.mobile-nav-frame .next {
	width: 26px;
	height: 26px;
	
	float: right;
	line-height: 0;
	margin-top: -3px;
}

.mobile-nav-frame .next img {
	width: 18px;
	height: 26px;
	
}

.admin-bar .mobile-nav-frame .title {
	position: relative;
	
}

a.mobilenav {
	display: none;
}

